@font-face {
    font-family: GameFont;
    src: url("upheavtt.ttf");
}

@font-face {
    font-family: BulkyFont;
    size-adjust: 1000%;
    src: url("8bitArcadeIn.ttf");
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}